
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
footer {
  margin-top: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7faff;
  color: #333;
}

/* NAVIGATION */
nav {
  background: #5b72f2;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

nav .logo {
  font-size: 22px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #6c8bff, #9ac3ff);
  color: white;
}

/* SECTION */
.section {
  padding: 50px 20px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 0 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;  /* important to avoid stretching */
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FORM */
form {
  width: 90%;
  max-width: 550px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin: auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 600;
}
#span{
  color: goldenrod;
  border: 1px solid black;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  background: #5b72f2;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background:#4456d8;
}

/* FOOTER */
footer {
  margin-top: 50px;
  background: #5b72f2;
  color: white;
  text-align: center;
  padding: 15px;
}
